'.source.elixir':
  'Util.Ext.IO.tins':
    'prefix': 'tins'
    'body':   'Util.Ext.IO.tins(${1:element_and_options})'
  'color_green':
    'prefix': 'cg'
    'body':   'color: "green"'
  'color_yellow':
    'prefix': 'cy'
    'body':   'color: "yellow"'
  'color_magenta':
    'prefix': 'cm'
    'body':   'color: "magenta"'
  'color_cyan':
    'prefix': 'cc'
    'body':   'color: "cyan"'
  'color_red':
    'prefix': 'cr'
    'body':   'color: "red"'
  'color_blue':
    'prefix': 'cb'
    'body':   'color: "blue"'
